html {
    background-color: #F3F4F6;
}

main {
    width: 600px;
    height: 720px;

    box-sizing: border-box;

    padding: 30px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: #A393BF;

    box-shadow: 10px 10px #9882AC;
}
main::before {
    display: block;
    content: '';

    position: absolute;
    top: 728px;
    left: 14px;
    
    background-color: #87719b;

    width: 600px;
    height: 10px;
    
    transform: skewX(45deg);
}
main::after {
    display: block;
    content: '';

    position: absolute;
    top: 12px;
    left: 608px;

    background-color: #9882AC;

    width: 10px;
    height: 12px;

    transform: skewY(45deg);
}

.buttons {
    display: grid;
    grid-template-areas: 
        "main main main op op"
        "main main main op op"
        "main main main op op"
        "zero back back clear clear";
    grid-template-columns: repeat(5, 1fr);
}

.calc-button {
    height: 120px;

    font-family: 'Space Mono', monospace;
    font-size: 40px;

    background-color: #373F51;
    color: #F3F4F6;

    border: solid 3px #292F3D;
    border-radius: 5px;
    outline: solid 1px #A9BCD0;
}

#main-button-section {
    grid-area: main;
}
#main-button-section .calc-button {
    flex-basis: 33%;
}

#main-button-section,
#operator-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
}

#operator-buttons {
    grid-area: op;
}
#operator-buttons .calc-button {
    flex-basis: 49.5%;
}
#zero {
    grid-area: zero;
}
#equals {
    grid-area: back;
}
#clear {
    grid-area: clear;
}

#calc-buttons {
    width: 90%;
}

#screen {
    box-sizing: border-box; 

    height: 160px;
    width: 100%;

    background-color: black;
    color: yellow;

    padding: 20px;
    margin-bottom: 20px;

    font-family: 'Press Start 2P', monospace;
    font-size: 40px;

    overflow-y: auto;
}
#screen-text {
    margin: 0;

    word-break: break-all;
}