main {
    width: 600px;
    height: fit-content;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-areas: 
        "main main main op op"
        "main main main op op"
        "main main main op op"
        "zero back back clear clear";
    grid-template-columns: repeat(5, 1fr);
}

.calc-button {
    height: 120px;

    font-family: 'Space Mono', monospace;
    font-size: 40px;
}

#main-button-section {
    grid-area: main;
}
#main-button-section .calc-button {
    flex-basis: 33%;
}

#main-button-section,
#operator-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
}

#operator-buttons {
    grid-area: op;
}
#operator-buttons .calc-button {
    flex-basis: 49.5%;
}
#zero {
    grid-area: zero;
}
#equals {
    grid-area: back;
}
#clear {
    grid-area: clear;
}

#calc-buttons {
    width: 90%;
}

#screen {
    box-sizing: border-box; 

    height: 160px;
    width: 100%;

    background-color: black;
    color: yellow;

    padding: 20px;
    margin-bottom: 20px;

    font-family: 'Press Start 2P', monospace;
    font-size: 40px;
}
#screen-text {
    margin: 0;

    word-break: break-all;
}